/* 
    Created on : Jan 29, 2018, 4:08:56 PM
    Author     : raymondm
*/

#container{
    width: 97%;
    height: auto;
    border: 1px solid #CCC;
    padding: 1%;
    border-radius: 7px 7px;
    margin-top: 0.8%;
}

#replies-div{
    margin-left: 30px;
}

#rows{
    padding: 20px 20px;
}
.reponse-button{
    margin-top: 10px;
    color: #FFFFFF;
    background: #085;
}